<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.teamrocket.blooddonationcommunity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="LifeStream"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BloodDonationCommunity"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCn4eJa3BSEaXh7O0Yy0aaOdanJEFWLZv4" />

        <activity
            android:name=".TrackMapActivity"
            android:exported="false"
            android:label="@string/title_activity_track_map" />
        <activity
            android:name=".DonationCamp"
            android:exported="false" />
        <activity
            android:name=".BloodBank"
            android:exported="false" />
        <activity
            android:name=".Featured"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomePage"
            android:exported="false" />
        <activity
            android:name=".VerifyOtp"
            android:exported="false" />
        <activity
            android:name=".PostReceiver"
            android:exported="false" />
        <activity
            android:name=".PostDonor"
            android:exported="false" />
        <activity
            android:name=".PersonalDetails"
            android:exported="false" />
        <activity
            android:name=".CreateAcc"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>